@model LostCard.Models.mvcAdmin
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn  @ViewBag.status</h2>


<div class="form-group">

    @using (Html.BeginForm())
    {
        <div class="form-group">

            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)

        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
           
        </div>
        <div class="form-group">
            <input type="submit" value="Log In" />
        </div>
    }


</div>

@section scripts{


    <script>

        $(function () {

            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '') {
                alertify.success(successMessage);
            }

        })
    </script>

}